<header>
  <ul class="sidenav sidenav-fixed">
    <li class="logo">
      <a [routerLink]="['/']" class="brand-logo">TwBlade</a>
    </li>
    <li><div class="divider"></div></li>
    <li><a [routerLink]="['']" routerLinkActive="active">主页</a></li>
    <li><a [routerLink]="['/tracker']" routerLinkActive="active">Tracker管理</a>
    <li><a [routerLink]="['/tag']" routerLinkActive="active">Tag管理</a></li>
    <li><a [routerLink]="['stat']" routerLinkActive="active">数据分析</a></li>
    <li><a [routerLink]="['log']" routerLinkActive="active">日志</a></li>
  </ul>
</header>
